services:
  ntfy:
    image: binwiederhier/ntfy:latest
    command: serve
    restart: unless-stopped
    volumes:
      - ./cache:/var/cache/ntfy
      - ./config:/etc/ntfy
    env_file:
      - .env
    environment:
      # unsetting molly env due to using single env file, fix it later
      - MOLLY_VAPID_PRIVKEY=
      - MOLLY_ALLOWED_ENDPOINTS=
    networks:
      - proxy
      - internal
    labels:
      - traefik.enable=true
      - traefik.http.routers.ntfy.rule=Host(`ntfy.${DOMAIN}`)
      - traefik.http.routers.ntfy.entrypoints=websecure
      - traefik.http.routers.ntfy.tls=true
      - traefik.http.routers.ntfy.tls.certresolver=letsencrypt
      - traefik.http.services.ntfy.loadbalancer.server.port=80
      - traefik.http.middlewares.ntfy-headers.headers.customrequestheaders.Upgrade=websocket
      - traefik.http.middlewares.ntfy-headers.headers.customrequestheaders.Connection=Upgrade
      - traefik.http.routers.ntfy.middlewares=ntfy-headers

  mollysocket:
    image: ghcr.io/mollyim/mollysocket:latest
    command: server
    restart: unless-stopped
    volumes:
      - ./mollysocket:/data
    env_file:
      - .env
    environment:
      - MOLLY_HOST=0.0.0.0
      - MOLLY_PORT=8020
      - MOLLY_DB=/data/ms.db
    networks:
      - proxy
      - internal
    labels:
      - traefik.enable=true
      - traefik.http.routers.mollysocket.rule=Host(`mollysocket.${DOMAIN}`)
      - traefik.http.routers.mollysocket.entrypoints=websecure
      - traefik.http.routers.mollysocket.tls=true
      - traefik.http.routers.mollysocket.tls.certresolver=letsencrypt
      - traefik.http.services.mollysocket.loadbalancer.server.port=8020

networks:
  proxy:
    external: true
    name: proxy
  internal:
    name: ntfy-internal
